.search-input {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.country-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.country-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* background-color: #f5f5f5; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.country-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.country-card p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 14px;
    color: #111;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}